<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
	  <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <!--<add name="conString" connectionString="Server=AISHWARYA\AISHWARYA; Database=AshokChakra; user id=sa; password=9911713995"/>-->
    <add name="conString" connectionString="Data Source=10.21.0.169;Initial Catalog=AshokChakra;User ID=sa;Password=@nic11;"/>
  </connectionStrings>
<appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
</appSettings>
</configuration>
